body {
  font-family: sans-serif;
  padding: 8px;
  margin: 0 auto;
  max-width: 390px;
}

img {
  width: 100%;
  height: auto;
}

.exercicio {
  box-sizing: border-box;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 8px 8px 0 8px;
  margin-bottom: 8px;
}

h2 {
  padding-top: 64px;
}